{% extends "home/base.html" %}
{% block title %}Fly-box Dashboard{% endblock %}
{% block selected %}mdc-list-item--selected{% endblock %}
{% block content %}
<main class="mdc-drawer-app-content main-content">
    <div class="mdc-data-table">
  <table class="mdc-data-table__table" aria-label="Dessert calories">
    <thead>
      <tr class="mdc-data-table__header-row">
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Fly-box name</th>
        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Cleaner board</th>
        <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Pupae door</th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Egg tray door 1</th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Egg tray door 2</th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Egg tray door 3</th>
        <th class="mdc-data-table__header-cell" role="columnheader" scope="col">System Status</th>
      </tr>
    </thead>
    <tbody class="mdc-data-table__content">
    	{% for post in posts %}
      <form action="startautomation/" method="get" id="{{post.title}}form">{% csrf_token %}
        {% if post.get_first_image %}

      <tr class="mdc-data-table__row">
        <td class="mdc-data-table__cell">{{post.title}}</td>


         <td class="mdc-data-table__cell">
           {% if post.get_cd_enabled %} <button class="mdc-button mdc-button--raised start" style="
    background-color: grey;
" type="submit" disabled  >  <span class="mdc-button__ripple"></span> Start</button> <button class="mdc-button mdc-button--raised" style="
    background-color: red;
"  type="button"  onclick="window.location.href = '/startautomation/?dept_id={{post.id}}&user_name=stopcd';" >  <span class="mdc-button__ripple"></span> Stop</button> {%else%}
<button class="mdc-button mdc-button--raised start" style="
    background-color: green;
" onclick="window.location.href = '/startautomation/?dept_id={{post.id}}&user_name=startcd';" type="button" >  <span class="mdc-button__ripple"></span> Start</button> <button class="mdc-button mdc-button--raised" style="
    background-color: grey;
" disabled>  <span class="mdc-button__ripple"></span> Stop</button>
{%endif%}

</td>
<td class="mdc-data-table__cell">    {% if post.get_pd_enabled %} <button class="mdc-button mdc-button--raised start" style="
    background-color: grey;
" type="submit" disabled>  <span class="mdc-button__ripple"></span> Start</button> <button class="mdc-button mdc-button--raised" style="
    background-color: red;
" onclick="window.location.href = '/startautomation/?dept_id={{post.id}}&user_name=stoppd';" type="button"  >  <span class="mdc-button__ripple"></span> Stop</button> {%else%}
<button class="mdc-button mdc-button--raised start" style="
    background-color: green;
" onclick="window.location.href = '/startautomation/?dept_id={{post.id}}&user_name=startpd';" type="button" >  <span class="mdc-button__ripple"> </span> Start</button> <button class="mdc-button mdc-button--raised" style="
    background-color: grey;
"  disabled>  <span class="mdc-button__ripple"></span> Stop</button>
{%endif%}</td>

        {% else %}
<tr class="mdc-data-table__row">
        <td class="mdc-data-table__cell">{{post.title}}</td>
         <td class="mdc-data-table__cell"><button class="mdc-button mdc-button--raised start" style="
    background-color: green;
" disabled>  <span class="mdc-button__ripple"></span> Start</button> <button class="mdc-button mdc-button--raised" style="
    background-color: red;
" disabled>  <span class="mdc-button__ripple"></span> Stop</button></td>
<td class="mdc-data-table__cell"><button class="mdc-button mdc-button--raised start" style="
    background-color: green;
" disabled>  <span class="mdc-button__ripple"></span> Start</button> <button class="mdc-button mdc-button--raised" style="
    background-color: red;
" disabled>   <span class="mdc-button__ripple"></span> Stop</button></td>
        {% endif %}
        <td class="mdc-data-table__cell"><button class="mdc-button mdc-button--raised start" style="
    background-color: green;
" onclick="window.location.href = '/startautomation/?dept_id={{post.id}}&user_name=startetd1';" type="button" >  <span class="mdc-button__ripple"></span> Start</button></td>

<td class="mdc-data-table__cell"><button class="mdc-button mdc-button--raised start" style="
    background-color: green;
" onclick="window.location.href = '/startautomation/?dept_id={{post.id}}&user_name=startetd2';" type="button" >  <span class="mdc-button__ripple"></span> Start</button></td>
<td class="mdc-data-table__cell"><button class="mdc-button mdc-button--raised start" style="
    background-color: green;
" onclick="window.location.href = '/startautomation/?dept_id={{post.id}}&user_name=startetd3';" type="button" >  <span class="mdc-button__ripple"></span> Start</button> </td>
      </tr>
 <input type="hidden" id="custId" name="custId" value="{{post.title}}">
  <input type="hidden" id="buttonpressed" name="{{post.title}}buttonpressed" value="">

     {%endfor%}


    </tbody>
  </table>
</div>

  </main>

{% endblock %}
{%block footer%}


{%endblock%}
